body {
  font-family: 'Quicksand', sans-serif;
  background-image: url("../images/pidgeon-background.jpg");
  background-repeat: no-repeat;
  background-color: #dddddd;
  padding-top: 15px;
  color: black;
  font-size: 18px;
  padding: 15px;
}

p {
  font-size: 18px;
  padding: 15px;
  color: black;
}

h1 {
  font-size: 2em;
  line-height: 1.5;
  color: #c12258;
}

a {
  font-size: 18px;
  color: #c12258;
  text-decoration: underline;
}

*:focus {
  border: 1px solid red;
}

table {
  border-collapse: separate;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

th {
  min-width: 150px;
  padding: 10px;
  border-bottom: 2px solid black;
}

.colhead {
  vertical-align: middle;
}

thead {
  text-align: center;
  color: white;
  background-color: #7e0830;
  text-transform: uppercase;
}

td {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: transparent;
}

tr:hover {
  background-color: #fab9cf;
}

tr:first-child th:first-child {
  border-top-left-radius:10px;
}

tr:first-child th:last-child {
  border-top-right-radius:10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius:10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius:10px;
}

footer {
  background-color: black;
  color: white;
  min-height: 60px;
  padding: 10px;
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p{
  color: white;
}
